@import url("variables.css");

h1 {
  padding: 10px;
}

#postImage,
#post-img {
  width: 500px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}
#post-body {
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  white-space: pre-line;
  width: 800px;
}

#blog-container {
  display: flex;
  justify-content: center;
}

#post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: center;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 900px;
  height: auto;
  margin-bottom: 100px;
}

#post-container h1 {
  margin-bottom: 20px;
}

#author-share-container {
  display: flex;
  color: var(--dark-color);
  flex-direction: row;

  justify-content: space-between;
  margin-bottom: 30px;
  width: 500px;
}

#share-icon {
  fill: var(--primary-color);
}

#copy-message {
  display: none;
  color: #0d960d;
  font-size: 14px;
}

#post-body {
  margin-bottom: 50px;
}

#post-created {
  width: 100%;
  padding-right: 25px;
  text-align: right;
  font-size: 14px;
  color: var(--dark-color);
}
