#postImage,
#post-img {
  width: 500px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}
#post-body {
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  white-space: pre-line;
  width: 800px;
}

#post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: center;
  color: black;
}

#post-container h1 {
  margin-bottom: 20px;
}

#author-share-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#share-container {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

#share-icon {
  width: 24px;
  height: 24px;
  color: #007bff;
  transition: color 0.2s ease-in-out;
}

#share-icon:hover {
  color: #0056b3;
}

#copy-message {
  display: none;
  color: #0d960d;
  font-size: 14px;
}
