@import url("variables.css");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--background-color);
}

#postTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tr {
  height: 30px;
  text-align: center;
}

tr {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

tr:hover {
  background-color: var(--primary-color);
}

#adminPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content-wrap button {
  width: 100px;
  height: 30px;
}
#content-wrap #logoutButton {
  margin-bottom: 50px;
}
#logoutButton {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#content-wrap h2 {
  margin-bottom: 20px;
}
