@import url("variables.css");

body {
  background-color: var(--background-color);
}
h2 {
  text-align: center;
}
#postTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tr {
  height: 30px;
  text-align: center;
}

tr {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

tr:hover {
  background-color: var(--primary-color);
}

#adminPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content-wrap button {
  width: 125px;
  height: 30px;
}
#content-wrap {
  margin-bottom: 50px;
}

#content-wrap h2 {
  margin-bottom: 20px;
}

#logoutButton {
  align-items: center;
  width: 125px;
  background-clip: padding-box;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--dark-color);
  cursor: pointer;
  display: inline-flex;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin-top: 30px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

#logoutButton:hover,
#logoutButton:focus {
  background-color: #fb8332;
  color: #fff;
  border-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
