@import url("variables.css");

h1 {
  text-align: center;
}

label {
  display: flex;

  margin-top: 10px;
  margin-bottom: 5px;
}
input {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 20px;
  width: 200px;
}

textarea {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 12px 20px;
  height: 150px;
  width: 400px;
  resize: none;
}

.button-container {
  display: flex;
}
