:root {
  --primary-color: #f96800;
  --dark-color: #141414;
  --background-color: #fff;
  --cancelBtn-color: rgb(252, 26, 26);
  --createBtn-color: rgb(22, 141, 22);

  --font-family: "Montserrat", sans-serif;
}
