@media (max-width: 940px) {
  .about-container {
    width: 600px;
    height: auto;
  }
}

@media (max-width: 642px) {
  .about-container {
    width: 320px;
    height: auto;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  p,
  ul,
  .about-container ul li,
  .bold {
    font-size: 14px;
    line-height: 1.5;
  }
  p,
  .about-container ul li {
    padding: 5px;
  }
}
