@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  #welcome-container img {
    width: 400px;
  }
}

@media (max-width: 417px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  #welcome-container img {
    width: 300px;
  }
}
