/* NAVBAR MEDIA QUERIES */
/* Nav bar heavily inspired from: https://www.youtube.com/watch?v=U8smiWQ8Seg&ab_channel=Coding2GO */

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .hamburger-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sideNav {
    width: 100%;
  }
}

/* FOOTER MEDIA QUERIES */

@media (max-width: 500px) {
  .darkLogo {
    width: 220px;
    height: auto;
  }
  footer ul {
    flex-direction: column;
    padding-bottom: 10px;
  }
}
